.NavbarItems{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 10px 20px rgba(2, 4, 142, 0.15);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top:20px;
    left:50%;
    transform: translate(-50%);
    z-index:1;
    float:left;
}

.Navbar-logo{
    height: 150px;
    cursor:pointer;
}

.navbar_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items:center;
    margin-right: auto;
}


.nav-links i{
    padding-right: 10px;
}

.nav-links{
    text-decoration: none;
    color:#1b0278;
    margin-top: 0.3rem;
    font-size:1.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.nav-links:after {
    display:block;
    content: '';
    margin-top: 0.3rem;
    border-bottom: solid 3px #1b0278;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-links-active{
    text-decoration: none;
    color:#1b0278;
    margin-top: 0.3rem;
    font-size:1.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.nav-links-active:after {
    display:block;
    content: '';
    margin-top: 0.3rem;
    border-bottom: solid 3px #1b0278;  
    transform: scaleX(1);  
    transition: transform 250ms ease-in-out;
}
  
.nav-links-mobile{
    display: none;
}

.menu-icons{
    display: none;
}

.navbar_login{
    border: solid 1px #1b0278;
    background-color: #fff;
    font-size: 1.5rem;
    height:45%;
    width: 8%;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar_login:hover{
    background-color: #1b0278;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.menuProfile {
    position : absolute;
    top : 4.5rem;
    right: 1.5rem;
    width:120px;
    padding:15px;
    border-radius: 8px;
    background-color: white;
    z-index: 9999;
    background-color: #fff;
    overflow: visible;
    box-shadow: 0 10px 20px rgba(2, 4, 142, 0.15);
    border-radius: 10px;
}

/* .menuProfile::before{
    content:'';
    position: absolute;
    top: -1.5em;
    right:1.1rem;
    width:20px;
    height:20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: solid gray;
    z-index: 9999;
} */
@media screen and (max-width: 850px){
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        background: white;
        width: 100%;
        height:auto;
        position: absolute;
        top:0;
        left:-100%;
        opacity: 0;
        align-items: stretch;
        padding:80px 0 30px 0;
        margin:0;
        
        transition: 0.3s ease-in-out;
        border-radius: 13px;
        Z-index:-1;

    }
    .nav-menu.active{
        left:0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }
    .nav-links{
        display: block;
        width:100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-links:hover{
        background: black;
        transition: none;
    }
    button{
        display: none;
    }
    .nav-links-mobile{
        display:block;
        text-align: center;
        padding: 1.5rem;
        margin:auto;
        border-radius: 4px;
        width:80%;
        background: black;
        text-decoration: none;
        color:#fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color:#222;
    }
}


.scrollContent {

    
}
.chartBox::-webkit-scrollbar {
    width: 10px;
}

.chartBox::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
